# aedev-project-manager requirements
anybadge==1.16.0
coverage==7.16.1
flake8==7.4.1
mypy==2.3.1
packaging==26.3
pillow==12.3.0
types-Pillow==10.2.0.20240822
PyGithub==2.10.0
pylint==4.0.9
pytest==9.1.1
pytest-cov==7.1.0
python-gitlab==8.6.0
requests==2.34.2
ae_base==0.3.97
ae_system==0.3.20
ae_paths==0.3.47
ae_dynamicod==0.3.16
ae_literal==0.3.36
ae_updater==0.3.20
ae_core==0.3.89
ae_console==0.3.98
ae_shell==0.3.19
ae_managed_files==0.3.9
ae_pythonanywhere==0.3.10
aedev_base==0.3.12
aedev_commands==0.3.20
aedev_project_vars==0.3.25
